<div class="row">
    <div class="col-md-12">
        <h1 class="display-8">Welcome to Course Register System</h1>

        <!--<div [ngSwitch]="isAuthenticated()">-->
            <!--<div class="alert alert-success" *ngSwitchCase="true">-->
                <!--<span *ngIf="account"-->
                   <!--&gt; You are logged in as user "{{account.login}}". </span>-->
            <!--</div>-->

            <!--<div class="alert alert-warning" *ngSwitchCase="false">-->
                <!--<span>If you want to </span>-->
                <!--<a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>-->
            <!--</div>-->
            <!--<div class="alert alert-warning" *ngSwitchCase="false">-->
                <!--<span>You don't have an account yet?</span>&nbsp;-->
                <!--<a class="alert-link" routerLink="register">Register a new account</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div>-->
            <!--<div>Course_Name</div>-->
            <!--<div>Course_Location</div>-->
            <!--<div>Course_Content</div>-->
            <!--<div>Teacher_ID</div>-->
        <!--</div>-->
        <div *ngIf="isAuthenticated()">
            <hr>
            <span>All Courses</span>
        <div><span><button (click)="getAllCourses()">Display All Courses</button> <button (click)="clearAllCourses()">Clear</button></span></div>
            <div *ngFor="let course of courses" style="padding-bottom: 2px">
                <div style="display: flex; width: 100%; height: 40px; justify-content: space-between; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid">
                    <div style="padding-left: 5px; width: 20%">{{course.courseName}}</div>
                    <div style="padding-left: 5px; width: 20%">{{course.courseLocation}}</div>
                    <div style="padding-left: 5px; width: 20%">{{course.courseContent}}</div>
                    <div style="padding-left: 5px; width: 20%">{{course.teacherId}}</div>
                    <div style="padding-left: 5px; width: 20%"><button (click)="deleteCourse(course.courseName)">Delete</button></div>
                 </div>
            </div>
        </div>

<!--        <div *ngIf="isAuthenticated()">-->
<!--            <hr>-->
<!--            <span>搜索课程</span>-->

<!--            <div class="form-group">-->
<!--                <label for="searchclass">Course Name</label>-->
<!--                <input type="text" class="form-control" id="searchclass" placeholder="Course Name" [(ngModel)]="searchClass">-->
<!--            <div *ngFor="let course of coursesWithTN" style="padding-bottom: 2px">-->
<!--                <div style="display: flex; width: 100%; height: 40px; justify-content: space-between; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid">-->
<!--                    <div style="padding-left: 5px">{{course.courseName}}</div>-->
<!--                    <div>{{course.courseLocation}}</div>-->
<!--                    <div>{{course.courseContent}}</div>-->
<!--                    <div>{{course.teacherName}}</div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        -->
<!--        <div><span><button (click)="getAllCoursesWithTN()">提交</button> <button (click)="clearAllCoursesWithTN()">清除</button></span></div>-->

        <div *ngIf="isAuthenticated()">
            <hr>
            <span>Add Course</span>
            <form #f="ngForm" (ngSubmit)="addCourse(f)">
                <div class="form-group">
                    <label for="formGroupExampleInput">Course Name</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="e.g. JAVA" name="newClassName" ngModel>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Location</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="e.g. Building A" name="newLocation" ngModel>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput3">Content</label>
                    <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="e.g. easy" name="newContent" ngModel>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput4">Teacher</label>
                    <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="e.g. 1" name="newTeacher" ngModel>
                </div>
                <button type="submit" >Submit</button>
            </form>
        </div>

        <div *ngIf="isAuthenticated()">
            <hr>
            <span>Edit Course</span>
            <form #f="ngForm" (ngSubmit)="updateCourse(f)">
                <div class="form-group">
                    <label for="updateName">Course Name</label>
                    <input type="text" class="form-control" id="updateName" placeholder="e.g. JAVA" name="updateName" ngModel>
                </div>
                <div class="form-group">
                    <label for="updateLocation">Location</label>
                    <input type="text" class="form-control" id="updateLocation" placeholder="e.g. Building A" name="updateLocation" ngModel>
                </div>
                <div class="form-group">
                    <label for="updateContent">Content</label>
                    <input type="text" class="form-control" id="updateContent" placeholder="e.g. easy" name="updateContent" ngModel>
                </div>
                <div class="form-group">
                    <label for="updateTeacher">Teacher</label>
                    <input type="text" class="form-control" id="updateTeacher" placeholder="e.g. 1" name="updateTeacher" ngModel>
                </div>
                <button type="submit" >Submit</button>
            </form>
        </div>
<!--        <div *ngIf="isAuthenticated()">-->
<!--            <hr>-->
<!--            <span>注册功能</span>-->
<!--            <hr>-->
<!--            <div><input [ngModel]= "classeNameNeedToReg" ]></div>-->
<!--            <div><span><button (click)="getAllCoursesWithTN()">注册课程</button> </span></div>-->
<!--        </div>-->

    </div>
</div>
